{% extends "userapp/base.html" %}
{% block content %}
<h1>Budget Groceries</h1>
<p>Get the most out of your food budget with cost-effective grocery lists and smart supermarket comparisons.</p>
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">💷 Meals Under £5/Week</a>
    <a href="#" class="list-group-item list-group-item-action">🏪 Supermarket Comparison</a>
    <a href="#" class="list-group-item list-group-item-action">🧾 Cheapest Essentials</a>
    <a href="#" class="list-group-item list-group-item-action">📍 Local Deals</a>
</div>
{% endblock %}