{% extends "userapp/base.html" %}
{% block content %}
<h1>Diet Preferences</h1>
<p>Personalise your food experience by selecting dietary preferences and managing allergies or intolerances.</p>
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">⚖️ Set Dietary Profile</a>
    <a href="#" class="list-group-item list-group-item-action">🚫 Allergies & Intolerances</a>
    <a href="#" class="list-group-item list-group-item-action">📑 Saved Preferences Summary</a>
    <a href="#" class="list-group-item list-group-item-action">🍽️ Custom Tag Filter</a>
</div>
{% endblock %}
