{% extends "userapp/base.html" %}

{% block content %}
<h1>Eco Meals</h1>
<p>Explore environmentally-conscious meals that help reduce carbon emissions, food waste, and promote local shopping.</p>

<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">🌍 Low Carbon Meals</a>
    <a href="#" class="list-group-item list-group-item-action">♻️ Low Waste Recipes</a>
    <a href="#" class="list-group-item list-group-item-action">📍 Local Ingredient Finder</a>
    <a href="#" class="list-group-item list-group-item-action">🍃 Eco Tags Explained</a>
</div>
{% endblock %}

